<!DOCTYPE html>
<html>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">


  <div class="w3-panel w3-black">
    <h1 style="color:grey">Account:</h1>
    <h2>UserName: {{username}}</h2>
    <h2>PassWord: {{password}}</h2>
    <h2>Email: {{email}}</h2>
    <h2>ExSell Cash: {{xsellcash}}</h2>
    <h2>Classroom : {{classroom}}</h2>
    <h2>{{cash_name}} : {{cash}}</h2>
  </div>

</div>

</body>
</html>
